button {
    display: block;
    margin: 2px;
}

div {
    margin: 8px 4px 8px 4px;
    padding: 8px;
    background-color: lightgray;
    border-radius: 5px;
    .color-test {
        background-color: #FF0000;
    }
}

.square {
    width: 20px;
    height: 20px;
    background-color: gray;
}

input {
    display: block;
}

textarea {
    width: 100em;
    height: 4em;
}